/* Color Codes Used:
Dark Blue - #058d8d
Light Blue - #07d1d1
Grey - #666666
Dark Purple - #B370B0
Light Purple - #a861a4

*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 100px;
    border-radius: 0px;
    padding: 0.0rem;
}

.navbar-brand {
    font-weight: 500;
    color: #058d8d;
    font-size: 24px;
    transition: 0.3s color;
}


.login-button {
    background-color: #058d8d;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #07d1d1;
}

.navbar-toggler {
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler-icon {
    color: white !important;
    background-color: #058d8d !important;
    font-weight: 500;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size:medium;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color: #07d1d1;
}

@media (min-width: 991px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #058d8d;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background-color: #22181c;
    background-size: cover;
    width: 100%;
}


.hero-section .container {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-control {
    max-width: 300px;
    width: 100%; /* Ensures it takes the full width of its container up to max-width */
    input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
} }

h5.search-bar  {
    color: #058d8d;
}

h5.search-bar:hover {
    color: #07d1d1;
    text-decoration: underline;
}

.dropdown-item {
    font-size: smaller;
}

/* Precious Metals CSS */
.bulliontext {
    font-size: medium;
    border-bottom: 2px solid #B370B0; /* Black border (adjust color and width as needed) */
    display: inline-block; /* Ensures the border spans only the text width */
    padding-bottom: 5px; /* Optional: adds space between the text and the border */
    margin-bottom: 20px;
  }
  
.list-group-item {
    border: none;
    background-color: transparent;
    color: white;
}

.key-features {
    border-bottom: 2px solid #B370B0;
    display: inline-block;
    padding-bottom: 5px;
}

.spot-prices-row {
    border-top: 1px solid #07d1d1;
    border-bottom: 1px solid #07d1d1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.spot-label {
    margin-right: 5px;
    margin-left: 5px;
    color: #058d8d;
    font-weight: 600;
}

.calculator-container {
    padding-top: -500px;
}

.input-group-text {
background-color:#058d8d;
color: white;
width: 8.5rem;
border-radius: 10px;
}

.form-control {
    max-width: 20rem;
    border-radius: 10px;
}

#resultContainer {
    max-width: 35em;
    margin-top: -2rem;
    padding-bottom: 2rem;
}

#premiumLabelDollar, #premiumLabelPercent {
    border-color: transparent;
    background-color: #666666;

}

#premiumResult, #premiumResultPercent {
    border-color: #666666;
    background-color: transparent;
    color: #ffffff;
    max-width: fit-content;
}

#troySubmit, #troyReset, #gramSubmit, #gramReset, #searchSubmit, #searchReset {
    border-color: #B370B0;
    color: #ffffff;
}
#troySubmit:hover, #troyReset:hover, #gramSubmit:hover, #gramReset:hover, #searchSubmit:hover, #searchReset:hover {
    background-color: #a861a4;
    color: #ffffff;
}


/* End Precious Metals CSS */


/* Footer CSS */
.social_icon:hover {
    color: #07d1d1;
    text-decoration: underline;
}

.social_icon {
    font-size: 23px;
    color: #ffffff;
    text-decoration: none;
}

/* End Footer CSS */